/*
=============== 
Navbar
===============
*/

.navbar {
  width: 100%;
  padding: 0.7rem 0;
  display: flex;
  align-items: center;
  z-index: 200;
  background: var(--clr-primary-1);
  background: var(--clr-primary-1);
  border-bottom: 1px #e1e0dd solid;
}

.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hamburger-icon {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-3);
  cursor: pointer;
  transition: var(--transition);
}

.hamburger-icon:hover {
  color: var(--clr-primary-2);
}

.nav-links a {
  cursor: pointer;
  text-transform: capitalize;
  padding: 0.5rem;
  display: block;
}

.nav-links a:hover {
  background-color: var(--clr-primary-2);
  color: var(--clr-primary-1);
}

.brand {
  display: flex;
  align-items: center;
}

.brand-info {
  margin-left: 0.5rem;
  line-height: normal;
}

.brand-role {
  color: var(--clr-primary-2);
}

.brand-name {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
}

/*
  =============== 
  Resposive Nav
  ===============
*/

.top-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav-links-container {
  display: none;
  overflow: hidden;
}

.responsive-nav-container {
  display: block;
  flex-basis: 100%;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .hamburger-icon {
    display: none;
  }
  .nav-links-container {
    display: block;
    max-height: 200px;
    max-width: initial;
    margin-top: 0;
  }
  .nav-links-container ul {
    display: flex;
    justify-content: flex-end;
  }
  .nav-links li {
    margin-right: 0.5rem;
  }
  .nav-links a {
    color: var(--clr-primary-3);
    font-weight: bold;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    padding: 10px;
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}
