/*
=============== 
Navbar
===============
*/

.navbar {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    z-index: 200;
    background: var(--clr-primary-1);
    background: var(--clr-primary-1);
    border-bottom: 1px #e1e0dd solid;
}

.nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-icon {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-3);
    cursor: pointer;
    transition: var(--transition);
}

.hamburger-icon:hover {
    color: var(--clr-primary-2);
}

.nav-links {
    display: none;
}

@media screen and (min-width: 768px) {
    .hamburger-icon {
        display: none;
    }
    .nav-links {
        display: flex;
        justify-content: flex-end;
    }
    .nav-links li {
        margin-right: .5rem;
    }
    .nav-links a {
        cursor: pointer;
        text-transform: capitalize;
        color: var(--clr-primary-3);
        font-weight: bold;
        letter-spacing: var(--spacing);
        transition: var(--transition);
        padding: 10px;
    }
    .nav-links a:hover {
        background-color: var(--clr-primary-2);
        color: var(--clr-primary-1);
    }
    .nav-center {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }
}

.brand {
    display: flex;
    align-items: center;
}

.brand-info {
    margin-left: 0.5rem;
    line-height: normal;
}

.brand-role {
    color: var(--clr-primary-2)
}

.brand-name {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
}

/*
=============== 
Sidebar
===============
*/

.sidebar {
    background: rgba(38, 38, 38, .9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: var(--transition);
    transform: translateX(-100%);
}

.show-sidebar {
    opacity: 1;
    transform: translateX(0);
}

.sidebar-links li {
    opacity: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar-links li a {
    cursor: pointer;
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: var(--clr-primary-1);
    letter-spacing: var(--spacing);
    margin-bottom: 0.5rem;
    font-size: 2rem;
    transition: var(--transition);
    border-radius: var(--radius);
}

.sidebar-links li a:hover {
    color: var(--clr-primary-2);
}

.close-btn {
    position: absolute;
    right: 4.75%;
    top: 2.75%;
    font-size: 2.5rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-1);
    cursor: pointer;
    transition: var(--transition);
}

.close-btn:hover {
    color: var(--clr-primary-2);
}

@media screen and (min-width: 992px) {
    .sidebar {
        transform: translateX(-100%);
    }
}

/*
  =============== 
  Sidebar Animation
  ===============
  */

.sidebar--links li {
    animation: slideRight 0.5s ease-in-out 0.3s forwards;
}

.sidebar--links li:nth-of-type(1) {
    animation-delay: 0.25s;
}

.sidebar--links li:nth-of-type(2) {
    animation-delay: 0.5s;
}

.sidebar--links li:nth-of-type(3) {
    animation-delay: 0.75s;
}

.sidebar--links li:nth-of-type(4) {
    animation-delay: 1s;
}

.sidebar-links li:nth-of-type(5) {
    animation-delay: 1.25s;
}

@keyframes slideRight {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.sidebar-icons li {
    opacity: 0;
    animation: slideUp 0.5s ease-in-out 0.3s forwards;
}

.sidebar-icons li:nth-of-type(1) {
    animation-delay: 0.25s;
}

.sidebar-icons li:nth-of-type(2) {
    animation-delay: 0.5s;
}

.sidebar-icons li:nth-of-type(3) {
    animation-delay: 0.75s;
}

.sidebar-icons li:nth-of-type(4) {
    animation-delay: 1s;
}

.sidebar-icons li:nth-of-type(5) {
    animation-delay: 1.25s;
}

@keyframes slideUp {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}